= form_with(model: cms_element, local: true) do |form|
  - if cms_element.errors.any?
    #error_explanation
      %h2
        = pluralize(cms_element.errors.count, "error")
        prohibited this cms_element from being saved:
      %ul
        - cms_element.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :markup
    = form.text_area :markup, id: :cms_element_markup
  .field
    = form.label :styles
    = form.text_area :styles, id: :cms_element_styles
  .actions
    = form.submit
