<p id="notice"><%= notice %></p>

<h1>Cms Elements</h1>

<table>
  <thead>
    <tr>
      <th>Markup</th>
      <th>Styles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cms_elements.each do |cms_element| %>
      <tr>
        <td><%= cms_element.markup %></td>
        <td><%= cms_element.styles %></td>
        <td><%= link_to 'Show', cms_element %></td>
        <td><%= link_to 'Edit', edit_cms_element_path(cms_element) %></td>
        <td><%= link_to 'Destroy', cms_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cms Element', new_cms_element_path %>
