<p id="notice"><%= notice %></p>

<p>
  <strong>Markup:</strong>
  <%= @cms_element.markup %>
</p>

<p>
  <strong>Styles:</strong>
  <%= @cms_element.styles %>
</p>

<%= link_to 'Edit', edit_cms_element_path(@cms_element) %> |
<%= link_to 'Back', cms_elements_path %>
